@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f9;
    color: #333;
}

fieldset legend {
    background-color: rgba(62, 193, 193, 0.596);
    border-radius: 25px;
}
fieldset{
    border-radius: 25px;
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}

header h1 {
    background-color: rgba(85, 107, 47, 0.379);
    text-align: center;
    border-radius: 45px;
    margin: 12px;
    padding: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

th,
td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

thead {
    background-color: #004a8d;
    color: white;
}


tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}